@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --clr: #3399ff;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(pictures/Background.png);
    background-attachment: fixed;
}
img{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}
form{
    padding: 30px 0px 30px 0px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
}
form h2 {
    font-weight: 500;
    font-size: 1.50em;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
}
.inputbox {
    position: relative;
    margin-bottom: 40px;
}
.inputbox input {
    position: relative;
    width: 80%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid  #686868;
    outline: none;
    font-size: 1em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.inputbox input[type="submit"] {
    background: var(--clr);
    border: none;
    padding: 15px;
    border-radius: 50px;
    color: #1c2530;
    font-size: 1.15em;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.5s;
}
form p a {
    color: var(--clr);
    font-weight: 500;
    text-decoration: none;
}
#shy {
    display: none;
    position: absolute;
    top: -50px;
    left: 51.5%;
    transform: translateX(-50%);
}
#greetings{
    display: none;
}
@media (min-width: 506px){
    img{
        width: 80%;
    }
}
@media (min-width: 586px){
    img{
        width: 70%;
    }
    .inputbox input{
        width: 70%;
    }
}
@media (min-width: 1000px){
    .container{
        width: 70%;
    }
    #greetings{
        display: inline-block;
    }
    #greetings img{
        margin: 0 auto;
        width: 100%;
        margin-left: 25px;
    }
    form{
        flex-shrink: 0;
    }
}
@media (min-width: 1528px){
    #shy{
        display: block;
    }
}
@media (min-width: 1529px){
    #shy{
        display: none;
    }
}